@use '../abstracts/mixins';

nav {
  display: flex;
  flex-direction: column;
  position: relative;

  .logo-link {
    max-width: 12rem;
  }
  .logo {
    max-width: 12rem;
    max-height: 2.5rem;
  }
  .logo-secondary {
    max-width: 2.5rem;
  }
  form {
    display: flex;
    margin: 1rem 0;

    input {
      padding: 0.625rem 0.5rem;
      width: 100%;
      min-width: 15rem;
      font-size: 1rem;
    }
    button {
      padding: 0.625rem 0.5rem;
      font-size: 1rem;
      background: #e86b6b;
      color: #fff;
      font-weight: bold;
    }
  }
  .btn-container {
    display: flex;
    margin: 0.5rem 0;
    position: absolute;
    top: -8px;
    right: 0;

    button {
      margin-right: 0.5rem;
    }
  }
}

@include mixins.tablet() {
  nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

    .logo-link {
      margin-right: 1rem;
    }
    .logo {
      flex: 1;
    }
    form {
      flex: 2;
      max-width: 35rem;
      margin-right: 1rem;

      input {
        margin-right: 1rem;
      }
    }
    .btn-container {
      position: initial;
      button {
        margin-right: 1rem;
      }
    }
  }
}
