@use '../abstracts/mixins';
$anim: shimmer 3s ease-out infinite;
$lightgray: lightgray;

.skeleton-card {
  margin: 1rem 0;
  width: 100%;

  .skeleton-card-image {
    width: 8.125rem;
    height: 8.125rem;
    background: $lightgray;
    margin-bottom: 0.5rem;
    animation: $anim;
  }

  .skeleton-content {
    & > div {
      background: $lightgray;
      margin-bottom: 0.5rem;
      animation: $anim;
    }

    .skeleton-title {
      width: 10rem;
      height: 1.5rem;
    }
    .skeleton-description {
      width: 20rem;
      height: 1rem;
    }
    .skeleton-details {
      width: 15rem;
      height: 1rem;
    }
  }
}

@include mixins.tablet() {
  .skeleton-card {
    max-width: 30rem;
    margin: 1rem;
    display: flex;

    .skeleton-card-image {
      margin-right: 2rem;
    }
  }
}

@keyframes shimmer {
  to {
    background: linear-gradient(45deg, $lightgray, transparent);
  }
}
