@use './abstract/reset';
@use './components/navbar';
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@400;600;700&display=swap');
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  font-family: 'Glory', 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f7faf8;
  padding: 1rem;
}
.responsive {
  width: 100%;
  height: auto;
}
